body{
  background-color: aqua;
}

.conteudoGeral{
  background-color: aquamarine;
  height: 100vh;
}

.cabecalho{
  background-color: black;
  height: 150px;
  color: yellow;
  font-size: 30px;
}

.conteudo{
  background-color: blue;
}
.detalhes{
  background-color: blueviolet;
  width: 80%;
  height: 200px;
  margin-left: 10%;
}
.listaProdutos{
  background-color: red;
  width: 80%;
  height: 400px;
  margin-left: 10%;
}