

h1{
  background-color: blue;
}

.meu-paragrafo{
  background-color: yellow;
}

.meu-titulo{
  color: red;
  font-size: 20px;
}

.conteudo{
  width: 200px;
  height: 200px;
  background-color: gray;
}