.card-produto {
  border: 1px solid black;
  border-radius: 10%;
  width: 50%;
  height: 200px;
  margin-top: 15px;
  margin-left: 10px;
  text-align: center;
  background-color: #40deea;
}

.produtos {
  background-color: lightskyblue;
  padding: 20px;
  width: 90vw;
}

.tony{
  color: red;
}